/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  box-sizing: border-box;
}

body{
  /*   background: white url("./assets/black.png"); */
  background: white url("./assets/back.jpeg");
  backdrop-filter: blur(3px);
}
